:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--Grey-100);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 20px;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 13px;
  line-height: 1.4;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.heading img {
  border-radius: 50%;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.name h3 {
  font-size: 15px;
  margin: 0;
}

.name p {
  margin: 0;
  opacity: 0.5;
  font-size: 11px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

/* --- CARD 1 --- */
.card-1 {
  background-color: var(--Purple-500);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% 0;
  color: var(--White);
  grid-column: span 2;
}

/* --- CARD 2 --- */
.card-2 {
  background-color: var(--Grey-500);
  color: var(--White);
}

/* --- CARD 3 --- */
.card-3 {
  background-color: var(--White);
  color: var(--Grey-500);
}

.card-3 .name p {
  opacity: 1;
  color: var(--Grey-500);
}

.card-3 .name h3 {
  color: var(--Dark-blue);
}

/* --- CARD 4 --- */
.card-4 {
  background-color: var(--Black);
  color: var(--White);
  grid-column: span 2;
}

/* --- CARD 5 --- */
.card-5 {
  background-color: var(--White);
  color: var(--Grey-500);
  grid-column: 4;
  grid-row: 1 / span 2;
}

.card-5 .name p {
  opacity: 1;
  color: var(--Grey-500);
}

.card-5 .name h3 {
  color: var(--Dark-blue);
}

/* Media Queries */
@media (max-width: 950px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card-1,
  .card-4,
  .card-5 {
    grid-column: auto;
    grid-row: auto;
  }

  .container {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
